* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body::-webkit-scrollbar {
    display: none;
}
body {
    margin: 0px;
}
.bars {
    color: white;
    margin-right: 5%;
    display: none;
}
.bars i {
    font-size: 2rem;
}
.dropdown-list{
    display: none;
    background-color: black;
    box-shadow: 0px 4px 8px 1px rgba(255, 255, 255, 0.658);
}
.dropdown-list ul {
    margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
}
.dropdown-list ul li a{
    color: aliceblue;
}
.dropdown-menu:hover .dropdown-list {
    display: block;
    position: absolute;
    right: 3%;
}

.dropdown-list li {
    margin: 0.4rem 0px;
}


/*-------------Body header Image----------------*/

#body-header {
    height: 55vh;
    /* opacity: 0.8; */
    background-image: url("./Image/Cover.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*--------Horizental List in header---------*/

.horizental_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.horizental_list li {
   margin: 0px 20px 8px 0px;
}

.horizental_list li a {
    color: #85868d;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    /* background-color: #00000061; */


}

.nav-menu li a:hover {
    color: #e1a007;
    border-bottom: 1px solid white;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 6s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-center {
    text-align: center;
}



/*-----------------Name & Social-icons---------------- */

#name-social_icons-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    color: white;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

/* .social-icons li a img{
    width: 1rem;
    padding: 10px;
    /* border-radius: 40%;for making image round 
}*/
/*.social-icons li :hover{
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3); for shadow 
}*/
.social-icons li a i {
    /*color: red;*/
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}


.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/*--------------------Section Class-------------------- */

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-heading span {
    font-size: 40px;
    color: #e1a007;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;

}

/*---------------About Sectiomn and My Image------------- */

#about {
    height: auto;
    width: 100%;
    /* position: relative; */
}

#my-image {
    /* position: absolute; */
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -6rem;
    /* margin-left: 45%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-image img {
    height: 100%;
    width: 100%;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 4px lightgrey;
}

#about p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 195%;
}

#about p span {
    color: #e1a007;
    font-weight: bold;
}

/* .text-highlight{
    color: #e1a007;
} */

/*-------------------Skill Section---------------- */

.skills-display {
    width: 70%;
    height: auto;
    /*border: 2px solid black; 	*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-progress {
    /* width: 10rem;
    height: 1.4rem;
    background-color: lightgrey;
    border-radius: 0.5rem; */
    width: 20%;
    min-width: 180px;
    height: auto;
    border-radius: 25px;
    background-color: lightgrey;
    margin: 2rem 1rem;
}

.skill-progress>div {
    border-radius: 20px 0px 0px 20px;
}

.skill-name {
    font-size: 1rem;
    margin-left: 10px;
    padding-top: 2px;
    font-family: "Roboto Condensed", sans-serif;

}

/*-------------------Experience Section---------------- */
.timeline {
    position: relative;
    width: 75%;
    padding: 5px;
}

.timeline-box {
    position: relative;
    width: 40%;
    left: 5%;
    min-height: 150px;
    margin: 5px;
}

.timeline-box::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgray;
    top: 25%;
    border-radius: 50%;
    z-index: 1;

}

.timeline-box:nth-child(2n) {
    left: 50%;
}

.timeline-box:nth-child(2n)::after {
    left: -14%;
}

.timeline-box:nth-child(2n+1)::after {
    left: 111%;
}


#timeline-driver {
    position: absolute;
    border: 2px dashed rgb(240, 216, 109);
    width: 0;
    left: 50%;
    top: 8%;

    height: 75%;
}

.experience-designation {
    font-size: 1.4rem;

}

.timeline-traveler {
    position: sticky;
    top: 8%;
    z-index: 2;

}

.timeline-traveler i {
    transform: rotate(90deg);
    margin-left: -23px;
    display: inline-block;
    color: darkorange;
    font-size: 3rem;

}

.timeline-container {
    padding: 20px;
}

.timeline-logo img {
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.experience-company-name {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;

}



/*-------------------Education Section---------------- */
.education {
    position: relative;
    width: 75%;
    padding: 5px;
}

.education-box {
    position: relative;
    width: 40%;
    left: 5%;
    min-height: 150px;
    margin: 5px;
}

.education-box::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgray;
    top: 25%;
    border-radius: 50%;
    z-index: 1;

}

.education-box:nth-child(2n) {
    left: 50%;
}

.education-box:nth-child(2n)::after {
    left: -14%;
}

.education-box:nth-child(2n+1)::after {
    left: 111%;
}


#education-driver {
    position: absolute;
    border: 2px dashed rgb(240, 216, 109);
    width: 0;
    left: 50%;
    top: 8%;

    height: 75%;
}

.degree {
    font-size: 1.4rem;

}

.education-traveler {
    position: sticky;
    top: 8%;
    z-index: 2;

}

.education-traveler i {
    transform: rotate(90deg);
    margin-left: -23px;
    display: inline-block;
    color: darkorange;
    font-size: 3rem;

}

.education-container {
    padding: 20px;
}

.education-logo img {
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.degree-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}

.degree-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.institute-name {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;

}





/*-------------------Portfolio Section---------------- */
.portfolio-container {
    width: 70%;
    height: auto;
    /*border: 2px solid black; 	*/
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #c8bb74;
}

.project-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    padding: 10px;
    color: transparent;


}

.project-details p {
    font-size: 2rem;
    font-family: "Roboto Condensed";


}

.portfolio-image-container:hover .project-details {
    background-color: #80808078;
    color: white;
}

/*------------ Contact --------------*/
#contact {
    background: linear-gradient(45deg, rgb(87, 67, 3) 50%, #e1a007);
    padding-bottom: 40px;



}

#contact h1 span {
    color: white;
}

#contact-container {
    display: flex;
    align-items: baseline;
    font-family: "Roboto Condensed", sans-serif;

}

#contact-form {
    left: 20%;
}

#my-details-container {
    width: 35%;
    left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

#contact-form-container {
    width: 50%;
}

.my-details-info-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    color: #d9dcdd;
    font-size: 1rem;

}

.my-details-info-container span {
    left: 0.4rem;
}

#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;

}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

#contact-form button:hover {
    background: white;
    color: rgb(87, 67, 3);
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}


/* -------------Common Margin Classes----------- */

.mb75px {
    margin-bottom: 75px;
}

.text-align-justify {
    text-align: justify;
}

.text-align-end {
    text-align: end;
}

.front-family-roboto {
    font-family: "Roboto Condensed", sans-serif;
}

/*--------------common color classes----------- */

.text-highlight {
    color: #e1a007;
    font-weight: 600;

}
.text-right{
    text-align: right;
}

.mb-purpel {
    background-color: plum;
}

.mb-sky {
    background-color: #4D9FF0;
}

.mb-orange {
    background-color: #ff5722;
}

.mb-yellow {
    background-color: rgb(245, 191, 126);
}

.color-gold {
    color: #eb822d;
}

.color-sky {
    color: #4D9FF0;
}

/* ------------Percent Class------------- */
.eighty-five-percent {
    width: 85%;
    height: inherit;

}

.fifty-percent {
    width: 50%;
    height: inherit;
}

/* ------------Media Query------------- */
@media screen and (max-width: 572px) {
    .bars {
            display: block;
        }
    
    
        .nav-menu {
            display: none;
        }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 15px;
    }

 /* ------------Experience------------- */

    #timeline-driver {
        left: 5%;
    }

    .timeline-box {
        left: 12% !important;
        width: 80%;
    }

    .timeline-box::after {
        left: -13% !important;
    }

/* ------------Education------------- */

    #education-driver {
        left: 5%;
    }

    .education-box {
        left: 12% !important;
        width: 80%;
    }

    .education-box::after {
        left: -13% !important;
    }

/* ------------Contact------------- */

    #contact-container {
        flex-wrap: wrap;
    }

    #contact-container>div {
        width: 80%;
        margin-left: 12% !important;
    }

}
